<ion-view title="Input">
  
  <ion-content class="has-header">
  
  <div class="card list">
    <div class="item item-divider">
      Current therapy
    </div>
    
    <div class="item item-text-wrap">
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select medication
        </div>
        
        <select id="sourceDrugSelect" ng-model="sourceDrug" ng-options="drug as drug.name for drug in data.sourceDrugs"  ng-change="setSourceDrug(sourceDrug)">  
        </select>
      </label>
      <br>
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select dosage
        </div>
        
        <select id="sourceDrugDosageSelect" ng-model="dosage" ng-options="item as item.dosage for item in dosages"  ng-change="setDrugDosage(dosage)">
          </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <i class="icon ion-chevron-down"></i>
    </div>
  </div>
  <div class="card list">
    <div class="item item-divider">
      Change to
    </div>
    <div class="item item-text-wrap">
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select drug
        </div>
        
      
         <select id="targetDrugSelect" ng-model="targetDrug" ng-options="drug as drug.name for drug in data.targetDrugs"  ng-change="setTargetDrug(targetDrug)">
          </select>
    
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="#/results" class="button button-block button-balanced">
      Calculate
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>