<ion-view title="Input">
  <ion-content class="has-header">
  <div class="card list">
    <div class="item item-divider">
      Current therapy
    </div>
    
    <div class="item item-text-wrap">
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select drug
        </div>
        
        <select>
          <option ng-model="primaryDrug" ng-repeat="drug in drugs.list">{{drug.name}}</option>
          
        </select>
      </label>
      <br>
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select dosage
        </div>
        
        <select>
          <option>40 mg</option>
          <option>50 mg</option>
          <option selected>80 mg</option>
          <option>160 mg</option>
          
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <i class="icon ion-chevron-down"></i>
    </div>
  </div>
  <div class="card list">
    <div class="item item-divider">
      Change to
    </div>
    <div class="item item-text-wrap">
      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Select drug
        </div>
        
        <select>
          <option ng-repeat="drug in drugs.list">{{drug.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="#/results" class="button button-block button-balanced">
      Calculate
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>