<ion-view title="source_drug_view">

  <ion-content class="has-header">

    <div class="card list">
      <div class="item item-divider">
        Current therapy
      </div>
      <div class="item item-text-wrap">       
        Select the medication and dosage the patient is currently taking.
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input item-select item-positive">
        <div class = "input-label">
          Medication
        </div>
        
        <select id="sourceDrugSelect" ng-model="sourceDrug" ng-options="drug as drug.name for drug in data.sourceDrugs track by drug.id"  ng-change="setSourceDrug(sourceDrug)">  
        </select>
      </label>
        <br>
       
      </div>
    </div>
    
    
    <div class="row">
      <div class="col text-center">
        <a href="#/source-dosage" class="button button-block button-balanced">
      Next
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>